:root {
    --background-color-light: #8c8c8c;
    --background-color: #292F36;
    --text-color-dark: #0f0f0f;
    --text-color-white: #fafafa;

    --highlight: #F08700;
    --theme-color-1: #0496FF;
    --theme-color-1-light: #0090ff;
    --theme-color-2: #D8315B;
    --theme-color-2-dark: #801d36;
    --theme-color-2-light: #f23866;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text-color-white);
    font-weight: lighter;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--theme-color-1);
}

a:visited {
    color: var(--theme-color-1);
}

a:hover {
    color: var(--theme-color-1-light);
}

a:active {
    color: white;
}

header {
    padding: 30px 50px;
    text-align: center;
}

#content {
    padding-bottom: 55px;
    max-width: 600px;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.small {
    font-weight: lighter;
    font-size: 12px;
}

#content {
    padding-bottom: 55px;
}

#content #info {
    text-align: center;
}

#content #supported {
    position: relative;
    text-align: center;
}

#content #drop-area {
    position: relative;
    border: 2px dashed var(--background-color-light);
    color: var(--background-color-light);
    line-height: 30px;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    margin: 80px auto;
    display: table;
}

#content #drop-area #drop-text {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#content #drop-area #drop-input {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

#content #drop-area:hover {
    border-color: var(--text-color-white);
    color: var(--text-color-white);
}

#content #drop-area.highlight {
    border-color: var(--highlight);
}

#settings-cog {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
}

#settings-cog .fas:hover {
    transform: rotate(90deg);
    transition: transform 400ms;
}

.fas:hover {
    color: var(--highlight);
}

.fas:active {
    color: var(--highlight);
}

.highlight {
    color: var(--highlight);
    /*text-decoration: #d6a14d solid 2px underline;*/
    font-size: 20px;
    font-weight: bolder;
}

#ynab-settings {
    position: absolute;
    right: -300px;
    top: 0;
    height: 100%;
    /*max-width: 0px;*/
    width: 300px;
    display: none;
    background: var(--background-color-light);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#ynab-settings.hidden {
    -webkit-animation: left-to-right 200ms linear forwards;
    animation: left-to-right 200ms linear forwards;
}

#ynab-settings.active {
    display: block;
    -webkit-animation: right-to-left 200ms linear forwards;
    animation: right-to-left 200ms linear forwards;
}

#pat {
    width: 100%;
    margin: 4px 0;
}

.button-border {
    all: unset;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid var(--text-color-white);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: var(--text-color-white);
    text-align: center;
    transition: all 0.2s;
}

.button-border:hover {
    color: var(--background-color);
    background-color: var(--text-color-white);
}

.button-border:active {
    color: var(--text-color-white);
    border-color: var(--background-color);
    background-color: var(--background-color);
}

#ynab-settings-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
}

#settings-content {
    /*color: var(--text-color-dark);*/
    margin: 50px 20px;
}

#selection-popup,
#question-popup {
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    background: var(--theme-color-2);
    padding: 40px;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin: -40px auto auto -200px;
}

#selection-popup p,
#question-popup p {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#selection-popup select {
    width: 100%;
    margin-bottom: 10px;
}

#selection-popup button,
#question-popup button {
    flex: 1;
}

/* Banner */

.banner-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
}

banner-container:after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    background-color: var(--theme-color-1-light);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

banner-container:before {
    content: "";
    display: block;
    height: 10px;
    width: 5px;
    background-color: var(--theme-color-1-light);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.banner {
    width: 200px;
    padding: 15px;
    background-color: var(--theme-color-1);
    color: #fff;
    text-align: center;
    transform: rotate(-45deg) translate(-28%, -35%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
    header {
        padding-left: 5px;
        padding-right: 5px;
    }

    h1 {
        font-size: 40px;
    }

    #content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 60px;
    }

    #content #drop-area {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    #content {
        padding-bottom: 100px;
    }
}

@media all and (max-width: 30em) {
    .button-border {
        display: block;
        margin: 0.4em auto;
    }
}

@-webkit-keyframes left-to-right {
    from {
        right: 0
    }
    to {
        right: -300px
    }
}

@-webkit-keyframes right-to-left {
    from {
        right: -300px
    }
    to {
        right: 0;
        display: none
    }
}

@keyframes left-to-right {
    from {
        right: 0
    }
    to {
        right: -300px;
        display: none
    }
}

@keyframes right-to-left {
    from {
        right: -300px
    }
    to {
        right: 0
    }
}