:root {
    --background-color-light: #677380;
    --background-color: #343a40;
}

body {
    position: relative;
    max-width: 600px;
    min-height: 100vh;
    margin: auto;
    background-color: #343a40;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white;
    font-weight: lighter;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: navajowhite;
}

a:visited {
    color: navajowhite;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

header {
    padding: 30px 50px;
    text-align: center;
}

#content {
    padding-bottom: 55px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.small {
    font-weight: lighter;
    font-size: 12px;
}

#content {
    padding-bottom: 55px;
}

#content #info {
    text-align: center;
}

#content #supported {
    position: relative;
    text-align: center;
}

#content #drop-area {
    position: relative;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 30px;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    margin: 80px auto;
    display: table;
}

#content #drop-area #drop-text{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#content #drop-area #drop-input{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

#content #drop-area:hover {
    border-color: white;
    color: white;
}

#content #drop-area.highlight {
    border-color: #d6a14d;
}

#settings-cog {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 40px;
}

.fas:hover {
    color: #d6a14d;
}

.fas:active {
    color: #ffb300;
}

.highlight {
    color: #d6a14d;
    /*text-decoration: #d6a14d solid 2px underline;*/
    font-size: 20px;
    font-weight: bolder;
}

#ynab-settings {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    /*max-width: 0px;*/
    width: 300px;
    display: none;
    background: var(--background-color-light);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#pat {
    width: 100%;
}

#ynab-settings-close {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 30px;
}

#settings-content {
    margin: 50px 20px;
}

#selection-popup,
#question-popup{
    /*position: fixed;*/


    border-radius: 7px;
    background: #57bf57;
    margin: auto;
    padding:40px;

    position:absolute;
    width:800px;
    top: 50%;
    left: 50%;
    margin-left: -400px; // 1/2 width
    margin-top: -40px; // 1/2 height
}

#selection-popup p,
#question-popup p{
    width: 100%;
}
#selection-popup select {
    width: 100%;
}

#selection-popup button,
#question-popup button{

}

.banner-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
}
banner-container:after {
     content: "";
     display: block;
     width: 10px;
     height: 5px;
     background-color: #69991c;
     position: absolute;
     top: 0;
     right: 0;
     z-index: -1;
}
banner-container:before {
     content: "";
     display: block;
     height: 10px;
     width: 5px;
     background-color: #69991c;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: -1;
}

.banner {
    width: 200px;
    padding: 15px;
    background-color: #76AB1E;
    color: #fff;
    text-align: center;
    transform: rotate(-45deg) translate(-28%, -35%);
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

@media screen and (max-width: 600px) {
    header {
        padding-left: 5px;
        padding-right: 5px;
    }

    h1 {
        font-size: 40px;
    }

    #content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 60px;
    }

    #content #drop-area {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    #content {
        padding-bottom: 100px;
    }
}